@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4" style="font-weight: bold;">WELCOME TO GROCERY STORE INVENTORY MANAGER!</h1>
    <p style="margin-top: 10px;">Manage your grocery store effectively!</p>
</div>
<div>
    <style>
        body {
            background-image: url('@Url.Content("~/images/Inventory.jpg")');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</div>
